<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.rog/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaMapper">

	<resultMap id="qnaSet" type="QNA">
		<id property="qNo" column="Q_NO"/>
		<result property="qTitle" column="Q_TITLE"/>
		<result property="qContent" column="Q_CONTENT"/>
		<result property="cNo" column="C_NO"/>
		<result property="qEnrollDate" column="Q_ENROLLDATE"/>
		<result property="qStatus" column="Q_STATUS"/>
	</resultMap>
		
	<insert id="insertQNA" parameterType="QNA">
		INSERT INTO QNA VALUES
		 (SEQ_QNO.NEXTVAL, #{qTitle}, #{cNo},
				SYSDATE, DEFAULT, #{qContent}) 
	</insert>
	
	
	
</mapper>