<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adContentMapper">

	<!-- 광고관련 -->
	<resultMap id="AdvertiseResultSet" type="Advertise">
		<id property="a_no" column="NID" />
		<result property="a_title" column="NTITLE" />
		<result property="l_code" column="NWRITER" />
		<result property="s_no" column="NCONTENT" />
		<result property="a_date" column="N_CREATE_DATE" />
		<result property="s_name" column="N_MODIFY_DATE" />
		<result property="l_name" column="FILE_PATH" />
	</resultMap>

	<!-- 물건관련 -->
	<resultMap id="ProductResultSet" type="ProductAdmin">
		<id property="pNo" column="P_NO" />
		<result property="pName" column="P_NAME" />
		<result property="pTitle" column="P_TITLE" />
		<result property="pDate" column="P_DATE" />
		<result property="cNo" column="C_NO" />
		<result property="cName" column="C_NAME" />


	</resultMap>

	<!-- 판매자 내역 일부분 -->
	<resultMap id="CustomerResultSet" type="CustomerAdmin">
		<id property="cNo" column="C_NO" />
		<result property="cName" column="C_NAME" />
		<result property="cId" column="C_ID" />
		<result property="cPwd" column="C_PWD" />
		<result property="cEmail" column="C_EMAIL" />
		<result property="cAddress" column="C_ADDRESS" />
		<result property="sStatus" column="C_STATUS" />
		<result property="cPhone" column="C_PHONE" />
		<result property="cEnrollDate" column="C_ENROLLDATE" />

	</resultMap>

	<!-- QNA 내역 일부분 -->
	<resultMap id="QnaResultSet" type="Qna">
		<id property="qNo" column="Q_NO" />
		<result property="qTitle" column="Q_TITLE" />
		<result property="qContent" column="Q_CONTENT" />
		<result property="qEnrollDate" column="Q_ENROLLDATE" />
		<result property="qStatus" column="Q_STATUS" />
		<result property="cEmail" column="C_EMAIL" />
		<result property="cName" column="C_NAME" />
		<result property="cNo" column="C_NO" />
		<result property="cId" column="C_ID" />
		<result property="qReplyDate" column="Q_REPLYDATE" />
		
	</resultMap>

	<!-- 신고관련 -->
	<resultMap id="ReportResultSet" type="Report">
		<id property="rtNo" column="RT_NO" />
		<result property="rtTitle" column="RT_TITLE" />
		<result property="rtContent" column="RT_CONTENT" />
		<result property="rtDate" column="RT_DATE" />
		<result property="cNo" column="C_NO" />
		<result property="cName" column="C_NAME" />
		<result property="rtCategory" column="RT_CATEGORY" />
		<result property="rtStatus" column="RT_STATUS" />
		<result property="rtDivide" column="RT_DIVIDE" />
		<result property="rtNum" column="RT_NUM" />
		<result property="pBoard" column="P_BOARD" />
	</resultMap>

	<!-- Q & A 갯수 확인 -->
	<select id="getQnaListCount" resultType="_int">
		SELECT COUNT(*)
		FROM QNA
		WHERE Q_STATUS='Y'
	</select>

	<!-- 신고된 갯수 확인 -->
	<select id="getReportListCount" resultType="_int">
		SELECT COUNT(*)
		FROM
		REPORT
		WHERE RT_STATUS='Y'
	</select>



	<insert id="insertReport" parameterType="Report">
		INSERT INTO REPORT
		VALUES(
		SEQ_REPORT.NEXTVAL, #{rtTitle}, #{ rtContent }, SYSDATE,
		#{cNo}, #{rtCategory}, DEFAULT, '1', #{rtNum}
		)

	</insert>

	<!-- QNA리스트 -->
	<select id="QnASelectList" resultMap="QnaResultSet">
		SELECT *
		FROM QNA
		JOIN
		CUSTOMER USING(C_NO)
		WHERE Q_STATUS='Y'
	</select>
	
	
	<!-- QNA리스트 -->
	<select id="QnASelectList2" resultMap="QnaResultSet">
		SELECT *
		FROM QNA
		JOIN
		CUSTOMER USING(C_NO)
		WHERE Q_STATUS='N'
	</select>

	<!-- 신고 목록 리스트 -->
	<select id="ReportSelectList" resultMap="ReportResultSet">
		SELECT REPORT.C_NO,
		RT_NO, RT_TITLE, RT_CONTENT, RT_DATE, RT_CATEGORY,
		RT_STATUS,
		RT_DIVIDE, RT_NUM, C_NAME, C_ID, P_BOARD
		FROM REPORT
		JOIN CUSTOMER
		ON(CUSTOMER.C_NO = REPORT.C_NO)
		JOIN PRODUCT ON(RT_NUM = P_NO)
		WHERE
		RT_STATUS = 'Y'
	</select>

	<select id="TtangSelectList" resultMap="ProductResultSet">
		SELECT P.P_TITLE,
		P.P_NAME, C.C_NAME, P.P_DATE , P.P_NO
		FROM PRODUCT P
		JOIN CUSTOMER C
		ON(P.C_NO = C.C_NO)
		WHERE P.P_BOARD ='땡처리'
	</select>

	<select id="HotDealSelectList" resultMap="ProductResultSet">
		SELECT P.P_TITLE,
		P.P_NAME, C.C_NAME, P.P_DATE, P.P_NO
		FROM PRODUCT P
		JOIN CUSTOMER C
		ON(P.C_NO = C.C_NO)
		WHERE P.P_BOARD ='핫딜'

	</select>

	<!-- Qna 상세보기 -->
	<select id="selectQna" resultMap="QnaResultSet">
		SELECT *
		FROM QNA
		JOIN CUSTOMER
		USING(C_NO)
		WHERE Q_NO = #{qNo}
		AND Q_STATUS='Y'
	</select>

	<!-- 신고하기 상세보기 -->
	<select id="selectReport" resultMap="ReportResultSet">
		SELECT REPORT.C_NO, RT_NO,
		RT_TITLE, RT_CONTENT, RT_DATE, RT_CATEGORY,
		RT_STATUS, RT_DIVIDE,
		RT_NUM, C_NAME, C_ID, P_BOARD
		FROM REPORT
		JOIN CUSTOMER ON(CUSTOMER.C_NO
		= REPORT.C_NO)
		JOIN PRODUCT ON(RT_NUM = P_NO)
		WHERE RT_STATUS = 'Y'
		AND
		RT_NO = #{rtNo}
	</select>

	<!-- 상품 가져오기 -->
	<select id="selectProduct" resultMap="ProductResultSet">
		SELECT *
		FROM PRODUCT
		JOIN CUSTOMER USING(C_NO)
		WHERE P_STATUS='Y'
		AND P_NO = #{rtNum}
	</select>

	<update id="updateQna" parameterType="_int">
		UPDATE QNA
		SET
		Q_STATUS = 'N',
		Q_REPLYDATE = SYSDATE
		WHERE Q_NO = #{qNo}

	</update>

	<update id="updateReportCancel" parameterType="_int">
		UPDATE REPORT
		SET
		RT_STATUS = 'N'
		WHERE RT_NO = #{rtNo}

	</update>
	
	<update id="updateCustomer"  parameterType="_int">
		UPDATE CUSTOMER
		SET
		C_STATUS = 'N'
		WHERE C_NO = #{getcNo}
	</update>


</mapper>